* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  *::before,
  *::after {
    box-sizing: inherit;
  }
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
    color: rgba(23, 23, 23, 0.95);
    background-color: #f8f8f8;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* align-itemsをbaselineからcenterに変更 */
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .logo {
    font-size: 1.5rem;
  }
  
  .menu {
    text-align: right;
  }
  
  .menu-icon {
    font-size: 24px;
    cursor: pointer; /* カーソルをポインターに変更 */
    display: none; /* デフォルトでは非表示 */
  }
  
  nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  