/* General styles */
body {
  font-family: 'Arial', sans-serif;
  color: #000000;
  background-color: #AEE2FF;
  margin: 0;
  padding: 0;
}

header, footer {
  background-color: #B9F3FC;
  color: #000000;
  text-align: center;
  padding: 1.5em 0;
}

h1, h2 {
  color: #000000;
}

header h1 {
  font-size: 3em;
  font-weight: bold;
}

h2 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
  border-bottom: 2px solid #FEDEFF;
  display: inline-block;
}

section {
  padding: 2em;
  margin: 2em auto;
  max-width: 1200px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile_image img {
  max-width: 200px;
  height: auto;
  border-radius: 50%;
  display: block;
  margin: 1em auto;
}

p {
  line-height: 1.6;
  margin: 1em 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background-color: #FEDEFF;
  margin: 1em 0;
  padding: 1.5em;
  border-radius: 10px;
  display: flex;
  align-items: center;
  transition: transform 0.3s;
}

ul li:hover {
  transform: translateY(-5px);
}

ul li div {
  margin: 0.5em 1em;
  flex: 1;
}

ul li img {
  max-width: 150px;
  height: auto;
  border-radius: 10px;
}

.list-link, .list-link1, .list-link2, .list-link3 {
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

.list-link:hover, .list-link1:hover, .list-link2:hover, .list-link3:hover {
  text-decoration: underline;
}

footer p {
  margin: 0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  header h1 {
      font-size: 2.5em;
  }
  h2 {
      font-size: 2em;
  }
  section {
      padding: 1em;
      margin: 1em;
  }
  ul li {
      padding: 1em;
      flex-direction: column;
  }
  ul li img {
      max-width: 100px;
  }
}

@media (max-width: 480px) {
  header h1 {
      font-size: 2em;
  }
  h2 {
      font-size: 1.5em;
  }
  ul li {
      flex-direction: column;
      align-items: flex-start;
  }
  ul li img {
      max-width: 80px;
  }
}
